<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.today.weather.alarmy.dao.AlarmyDao">

  <select id ="readCodeList" resultType="com.today.weather.alarmy.model.CodeModel">
      select
          ct.code
          , ct.value
      from
          code_tbl as ct
  </select>

  <select id="readCode" parameterType="string" resultType="com.today.weather.alarmy.model.CodeModel">
        select
            ct.code
            , ct.value
        from
            code_tbl as ct
        where ct.code = #{code}

  </select>

    <update id="upsertWeatherForcast" parameterType="com.today.weather.alarmy.model.WeatherModel">
        insert into weather_tbl
            (key, wtr_code, wtr_key, wtr_value, nx, ny, saved_ts)
        values
            (#{key},#{weatherCode},#{weatherKey},#{weatherValue},#{nx},#{ny},#{savedTs})
        on conflict(key) do
        update
        <set>
            , wtr_code = excluded.wtr_code
            , wtr_key = excluded.wtr_key
            , wtr_value = excluded.wtr_value
            , nx = excluded.nx
            , ny = excluded.ny
            , saved_ts = excluded.saved_ts
        </set>
    </update>


</mapper>